:root{

  --background-header: rgb(49, 52, 61);
  --nav-text: rgb(146,204,205);
  --border-color-nav: rgb(146,204,205);
  --color-text-title: rgb(49, 52, 61);
  --background-main: rgb(237,237,219);
  --border-color-titles: rgb(68,88,119)

}

html{
  scroll-behavior: smooth;
}


header{
  background-color: var(--background-header);
}

h1{
  background-color:rgb(146, 204, 205);
  color: var(--color-text-title);
}

nav a {

  text-decoration: none;
  color: var(--nav-text);
  border-bottom: 3px solid var(--border-color-nav);
  
}

.subtitle{
  background-color: var(--nav-text);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main{
  background-color: var(--background-main);
}


header.title-about{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);

}

p.text-about{
  background-color: var(--background-main);
  font-family: Helvetica;
  color: var(--border-color-titles);
}


section.work{
  display: flex;
  background-color: var(--background-main);
}

header.title-work{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);
}


.grid{
  background-color: var(--background-main);
}

.card{
  border-width: 8px;
  border-color: var(--nav-text);
}

.card .main-portafolio{

  border-color: var(--nav-text);
}

.card header{
  background-color: var(--nav-text);

}

.card header a{
  background-color: var(--nav-text);
  color: var(--border-color-titles);
}

header.title-contact{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);

}

.text-contact li{
  border-bottom: 5px solid var(--border-color-titles);
  color: var(--border-color-titles);
}



/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 1792px) {
  h1{
    font-size: 45px;
    padding-top: 2rem;
  }


}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 1500px) {

  .subtitle{
    font-size: 40px;
    padding-top: 2rem;
  }

}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {

}
