:root{

  --background-header: rgb(49, 52, 61);
  --nav-text: rgb(146,204,205);
  --border-color-nav: rgb(146,204,205);
  --color-text-title: rgb(49, 52, 61);
  --background-main: rgb(237,237,219);
  --border-color-titles: rgb(68,88,119)

}

html{
  scroll-behavior: smooth;
}


header{
  background-color: var(--background-header);
}

h1{
  background-color:rgb(146, 204, 205);
  color: var(--color-text-title);
}

nav a {

  text-decoration: none;
  color: var(--nav-text);
  border-bottom: 3px solid var(--border-color-nav);
  
}

.subtitle{
  background-color: var(--nav-text);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main{
  background-color: var(--background-main);
}


header.title-about{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);
}



p.text-about{
  background-color: var(--background-main);
  font-family: Helvetica;
  color: var(--border-color-titles);
}

.title-about a{
  color: var(--border-color-titles);
}

section.work{
  display: flex;
  background-color: var(--background-main);
}

header.title-work{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);
}

.title-work a{
  color: var(--border-color-titles);
}

.grid{
  background-color: var(--background-main);
}

.card{
  border-width: 8px;
  border-color: var(--nav-text);
}

.card .main-portafolio{

  border-color: var(--nav-text);
}

.card header{
  background-color: var(--nav-text);

}

.card header a{
  background-color: var(--nav-text);
  color: var(--border-color-titles);
}

header.title-contact{
  background-color: var(--background-main);
  border-right: 6px solid var(--border-color-titles);
  color: var(--border-color-titles);
}

.title-contact a{
  color: var(--border-color-titles);
}

.text-contact li{
  border-bottom: 5px solid var(--border-color-titles);
  color: var(--border-color-titles);
}




@media screen and (max-width: 1900px) {

  .title-work a{
    position: relative;
    left: 40%;
  }

  .card{
    margin: 1.8%;
    width: 44.9%;
  }
  header.title-contact{
    width: 8.7%;
}
.title-contact a{
  position: relative;
  left: -5%;
}
}


@media screen and (max-width: 1751px) {
  h1{
    font-size: 45px;
  }

}



@media screen and (max-width: 1621px) {

  .title-work a{
    position: relative;
    left: 50%;
  }

}


@media screen and (max-width: 1570px) {


  .title-work a{
    position: relative;
    left: 40%;
  }

  header.subtitle{
    font-size: 40px;
  }
  .title-contact a{
    position: relative;
    left: -15%;
  }

  header.title-contact{
    width: 9%;
}
}


@media screen and (max-width: 1527px) {

  .title-work a{
    position: relative;
    left: 20%;
  }
  
}


@media screen and (max-width: 1550px) {
  .card{
    margin: 1.8%;
    width: 44.7%;
  }


}

@media screen and (max-width: 1417px) {

  h1{
    font-size: 35px;
  }
  .title-contact a{
    position: relative;
    left: -15%;
  }
  header.title-contact{
    width: 8%;
}
  .title-contact a{
    position: relative;
    left: -50%;
  }
}



@media screen and (max-width: 1152px) {

  h1{
    font-size: 35px;
  }

  .title-about a{
    position: relative;
    left: -80%;
  }

  
  .title-work a{
    position: relative;
    left: -80%;
  }

  header.subtitle{
    font-size: 30px;
  }

  .card{
    margin: 1.5%;
    width: 44.7%;
  }

  header.title-contact{
    width: 8%;
}
  .title-contact a{
    position: relative;
    left: -50%;
  }

}



@media screen and (max-width: 1000px) {

  header.subtitle{
    font-size: 28px;
  }

}


@media screen and (max-width: 887px) {

  h1{
    font-size: 25px;
  }


}

